* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    padding-top: 80px;
}


.navbar {
    width: 100vw;
    height: 80px;
    top: 0;
    border: 0;
    border-top: 3px solid #1AE0EC;
    position: fixed
}

.container-fluid {
    width: 90vw;
    gap: 10px;
}

.navbar-nav {
    width: 90vw;
    font-size: 25px;
    display: flex;
    direction: ltr;
    justify-content: center;
    gap: 20px;
}

.nav-link.blue {
    color: #1AE0EC;
    font-family: 'Heebo', sans-serif;
    font-weight: bold;
}

.nav-link.name {
    font-family: Arial, Helvetica, sans-serif;
    width: 10vw;
    color: #444444;
    font-size: 25px;
}

.nav-link.active {
    color: #000000;
    font-family: 'Heebo', sans-serif;
}

img {
    width: 62px;
    height: 62px;
}

.container-fluid-main {
    width: 100vw;
    display: flex;
    top: 80px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 461px;
    background-color: #13E8F163;
}

.container-fluid-main h1 {
    font-family: 'Heebo', sans-serif;
    font-weight: 900;
    color: #3A3A3A;
    font-size: 80px;
}

.container-fluid-main p {
    font-family: 'Heebo', sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #3A3A3A;
    width: 50%;
    direction: ltr;
    text-align: center;
}

.container-fluid-logo {
    width: 100vw;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 3px 6px #00000029;
    opacity: 1;
    background-color: #FFFFFF;
}

.button button {
    width: 153px;
    height: 30px;
    background-color: #1AE0EC;
    border-radius: 15px;
    border: 0;
    margin: 10px;
    font-size: 14px;
    font-family: 'Heebo', sans-serif;
    font-weight: 500;
}

.container-box-preview {
    width: 100vw;
    height: 1014px;
    background-color: #EBFEFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-box-preview img {
    width: 60vw;
    height: 60vh;
}

footer {
    width: 100vw;
    height: 51px;
    background-color: #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: #1AE0EC 6px solid;

}

.right-footer {
    font-size: 20px;
    color: #1AE0EC;
    font-family: 'Heebo', sans-serif;
    font-weight: 300;
    margin-right: 30px;
}

.left-footer {
    font-size: 20px;
    color: #1AE0EC;
    font-family: 'Heebo', sans-serif;
    margin-left: 30px;
    font-weight: 300;

}

@media screen and (max-width:992px) {
    body {
        width: 100vw;
        height: 100vh;
    }

    .nav-link.name {
        display: none;
    }

    .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(26,224,236)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }

    ul.navbar-nav {
        width: 98%;
    }

    .nav-link.blue {
        font-size: 12px;
        font-weight: bold;

    }

    .nav-link.active {
        font-size: 12px;
        font-weight: bold;
    }

    .container-fluid-main {
        height: 45vh;
        width: 100vw;
    }

    .container-fluid-main h1 {
        font-size: 46px;
        text-align: center;
        width: 60%;

    }

    .container-fluid-main p {
        font-size: 15px;
        width: 65%;
        text-align: center;
    }

    .button {
        width: 100vw;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .button button {
        width: 135px;
        height: 26px;
        margin: 5px;
        font-size: 12px;

    }

    .container-fluid-logo {
        height: 61px;
    }

    .container-box-preview {
        width: 100vw;
        height: 38vh;

    }

    .container-box-preview img {
        width: 70vw;
        height: 178px;
    }

    footer {
        width: 100vw;
        height: 29px;
    }

    .right-footer,
    .left-footer {
        font-size: 9px;
    }

}

@media screen and (max-width:576px) {
    ul.navbar-nav {
        width: 98%;
    }

    .nav-link.blue {
        font-size: 8px;
        font-weight: bold;

    }

    .nav-link.active {
        font-size: 8px;
        font-weight: bold;
    }

    .container-fluid-main h1 {
        font-size: 34px;
        text-align: center;
        width: 60%;

    }

    .container-fluid-main p {
        font-size: 12px;
        width: 60%;
        text-align: center;
    }

    .button {
        width: 100vw;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .button button {
        width: 105px;
        height: 26px;
        margin: 5px;
        font-size: 10px;
    }